

<body>
    <div class="screen-overlay"></div>
   
    <main class="main-wrap">
       
        <form action="/admin/addcoupon" method="post"  >
           

            <section class="content-main">

                <div class="row">
                    <div class="col-6">
                        <div class="content-header">
                            <h2 class="content-title">Add New coupon</h2>
                            <div>
                                
                                <button type="submit" class="btn btn-md rounded font-sm hover-up">save</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>1. CouponId</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Cost in USD</label>
                                            <input type="text" placeholder="enter a coupon id" class="form-control" name="couponid">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>2. expiry date</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            
                                            <input type="date" placeholder="" class="form-control" name="expirydate">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>3. offer in %</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">%</label>
                                            <input type="percentage" placeholder="percentage" class="form-control" name="percentageoffer">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>4. max offer</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Cost in USD</label>
                                            <input type="text" placeholder="$00.0" class="form-control" name="maxoffer">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                               
                              
                            </div>
                        </div>
                    </div>
                </div>
                </div> 
               
               
            </section> <!-- content-main end// -->

          


        </form>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
