<div class="page-content">
    <div class="checkout">
        <div class="container">
            <div class="checkout-discount">
            </div><!-- End .checkout-discount -->
            <form action="/saveaddress" method="post">
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="checkout-title" style="text-align: center;">Address manage</h2><!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>First Name *</label>
                                    <input type="text" class="form-control" required name="name">
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Last Name *</label>
                                    <input type="text" class="form-control" required name="name">
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            

                            <label>Country *</label>
                            <input type="text" class="form-control" required name="country">

                            <label>Street address *</label>
                            <input type="text" class="form-control" placeholder="House number and Street name" required name="address">
                            <input type="text" class="form-control" placeholder="Appartments, suite, unit etc ..." required name="address">

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Town / City *</label>
                                    <input type="text" class="form-control" required name="address">
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>State / County *</label>
                                    <input type="text" class="form-control" required name="address">
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Postcode / ZIP *</label>
                                    <input type="text" class="form-control" required name="address">
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Phone *</label>
                                    <input type="tel" class="form-control" required name="phone">
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <label>Email address *</label>
                            <input type="email" class="form-control" required name="email">

                            

                            

                            
                   
                    <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                        <span class="btn-text">Place Order</span>
                        <span class="btn-hover-text">Proceed to Checkout</span>
                    </button>
                </div><!-- End .row -->
            </form>
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div><!-- End .page-content -->